body.dm {
    background: #1e1e1e;
    /* background: linear-gradient(145deg, rgba(31, 41, 62, 1) 0%, rgba(0, 83, 111, 1) 31%, rgba(0, 129, 143, 1) 100%); */
    /* background: linear-gradient(160deg, #1e1e1e 95%, #2d2d30 0%);  */
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    color: white;
    font-family: Helvetica, Verdana, Arial;
}



a.dm {
    color: #569bd4;
    text-decoration: none;
}

a.dm:hover {
    text-decoration: underline;
}

#content a {
    color: #569bd4;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

.dm-bg {
    background-color: #2d2d30;
}

.dm-nav-bg {
    background-color: #345f81;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.dm-border {
    border-color: #2d2d30 !important;
}

.title {
    color: #96795c;
}

table.dm,
th.dm,
td.dm {
    border: 1px solid;
}

.dm-metadataicons {
    width: 16px;
    height: 16px;
}