body.dm {
    background: rgb(31, 41, 62);
    background: linear-gradient(145deg, rgba(31, 41, 62, 1) 0%, rgba(0, 83, 111, 1) 31%, rgba(0, 129, 143, 1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    color: #96795c;
}

a.dm {
    color: #00818f;
}

.dm-bg {
    background-color: #181b217b;
}

.nav-link {
    color: #96795c;
}

.nav-link:hover {
    color: white;
}

.dm-border{
    border-color: #181b217b !important;
}
.title {
    color: #96795c;
}