body.dm {
    background: #1e1e1e;
    /* background: linear-gradient(145deg, rgba(31, 41, 62, 1) 0%, rgba(0, 83, 111, 1) 31%, rgba(0, 129, 143, 1) 100%); */
    /* background: linear-gradient(160deg, #1e1e1e 95%, #2d2d30 0%);  */
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    color: white;
    font-family: Helvetica, Verdana, Arial;
}

a.dm {
    color: #569bd4;
    text-decoration: none;
}

a.dm:hover {
    text-decoration: underline;
}

#content a {
    color: #569bd4;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

.dm-bg {
    /* background-color: #2d2d30; */
    border: 1px solid #2d2d30;
}

.dm-nav-bg {
    background: linear-gradient(90deg, rgba(106, 0, 72, 1) 0%, rgba(16, 16, 140, 1) 51%, rgba(0, 203, 144, 1) 100%);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.dm-border {
    border-color: #2d2d30 !important;
}

.title {
    color: #96795c;
}

table.dm,
th.dm,
td.dm {
    border: 1px solid;
}

.dm-metadataicons {
    width: 16px;
    height: 16px;
}

/* Light theme */
@media (prefers-color-scheme: light) {
    body.dm {
        background: #ffffff;
        color: #000000;
    }

    .dm-bg {
        background-color: #ffffff;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-in-section {
    opacity: 0;
    /* transform: translateY(20vh); */
    visibility: hidden;
    animation: fadeIn 1.2s ease-out forwards;
    /* transition: opacity 0.6s ease-out, transform 1.2s ease-out; */
    transition: opacity 0.6s ease-out;
    will-change: opacity, visibility;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* transform: translateY(20vh); */
        visibility: hidden;
    }
    100% {
        opacity: 1;
        /* transform: translateY(0); */
        visibility: visible;
    }
}



/* Apply the animations to the i element */
#blink {
    animation: blink 2s linear infinite;
}