<div class="container mt-3">
    <H1>{{ .Site.Title }}</H1>
</div>
<div id="nav-border" class="container mt-3">
    <nav id="nav" class="nav justify-content-left dm dm-bg rounded-3">
        {{ range .Site.Menus.main }}
        <a class="nav-link mx-3" href="{{ .URL }}">
        {{ if .Pre }}
        {{/*  {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}  */}}
        {{/*  {{ $icon }}  */}}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a>
        {{ end }}
    </nav>
</div>